<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Signup')"></head>
<body>
<div>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Create an account</h1>
<form th:action="@{/signup}" method="POST" th:object="${user}">
	<label for="username">Username</label>
	<input th:field="*{username}" />

	<label for="email">Email</label>
	<input th:field="*{email}" />

	<label for="password">Password</label>
	<input type="password" th:field="*{password}" />

	<input value="Sign me up!" type="submit" />
</form>

<nav th:replace="partials/footer :: footer"></nav>
</div>
</body>
</html>